.backgroundImg {
    height: 46vw;
    background-repeat: no-repeat;
    background-size: 100% 46vw;
    background-attachment: fixed;
    position: relative;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title p {
    font-size: 4rem;
    color: white;
    font-weight: 900;
}

.icon {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
    color: white;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    animation: beat 0.8s ease-in-out infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@keyframes beat {
    from {
        bottom: 10px;
    }

    to {
        bottom: 30px;
    }
}

@media (max-width:800px) {
    .backgroundImg {
        height: 500px;
        background-size: auto;
    }
}