.content {
    padding: 50px 22vw;
}

.content img {
    width: 100%;
}

@media (max-width:850px) {
    .content {
        padding: 50px 0;
    }

    .content p {
        padding: 0 5vw;
    }

    .content img {
        max-width: 90%;
    }

    .content span {
        font-size: 100%;
    }
}